:root {
  --bg-whiteStandard: #fff;
  --bg-header-standard: #D9D9D9;
  --bg-inputs-standard: #BABABA;
  --bg-calcButtons: #0099B8;
  --bg-numberStandard: #C2C2C2;
  --bg-deleteButton: #D85F1A;
  --bg-equalButton: #56B43D;
  --fc-buttonsStandard: #000;


  --bg-darkStandard: #424242;
  --bg-header-dark: #575656;
  --bg-inputs-dark: #222222;
  --bg-numbersDark: #9D9B9B;
  --fc-buttonsDark: #fff;
  --bg-footerButtons: #7A7A93;
  --bg-menuStripesDark: #9D9B9B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.container-pai {
  width: 280px;
  height: 410px;
  background-color: var(--bg-whiteStandard);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.dark .container-pai {
  background-color: var(--bg-darkStandard);
}

.cabecalho {
  background-color: var(--bg-header-standard);
  padding: 6px 8px;
}

.dark .cabecalho {
  background-color: var(--bg-header-dark);
}

.cabecalho input,
.cabecalho textarea {
  width: 100%;
  padding: 6px 8px;
  font-size: 15px;
  border: none;
  background-color: var(--bg-inputs-standard);
  resize: none;
}

.dark .cabecalho input,
.dark .cabecalho textarea {
  background-color: var(--bg-inputs-dark);
}

.cabecalho input {
  margin: 10px 1px 8px 0px;
  height: 50px;
}

.cabecalho textarea {
  height: 35px;
}


.rowCalculations {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.rowCalculations button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-calcButtons);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  color: var(--fc-buttonsStandard);
}

.dark .rowCalculations button {
  color: var(--fc-buttonsDark);
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  margin-top: 10px;
  background-color: var(--bg-header-standard);
  padding: 8px;
  margin: 15px 30px 0px 30px;
}

.dark .numbers-grid {
  background-color: var(--bg-inputs-dark);
}

.numbers-grid button {
  height: 40px;
  border: none;
  background-color: var(--bg-numberStandard);
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  color: var(--fc-buttonsStandard);
}

.dark .numbers-grid button {
  background-color: var(--bg-numbersDark);
  color: var(--fc-buttonsDark);
}

.numbers-grid .del {
  background-color: var(--bg-deleteButton);
  font-weight: 700;
}

.numbers-grid .equal {
  background-color: var(--bg-equalButton);
  font-weight: 700;
}

.dark .numbers-grid .del {
  background-color: var(--bg-deleteButton);
}

.dark .numbers-grid .equal {
  background-color: var(--bg-equalButton);
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  padding: 0px 30px 0px 30px;
}

.rodape button {
  width: 44px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color: var(--bg-header-standard);
  cursor: pointer;
}

.dark .rodape button {
  background-color: var(--bg-footerButtons);
}

.rodape img {
  width: 25px;
  margin-top: 3px;
}

.rodape .logo img {
  width: 35px;
}

.dark .rodape .logo img {
  content: url("img/Logo-dark.png");
}

.dark #configIcon img {
  content: url("img/config_Icon_dark.png");
}

.dark #themeIcon img {
  content: url("img/theme_Icon_dark.png");
}

.marca {
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  background-color: var(--bg-numberStandard);
  color: var(--fc-buttonsStandard);
}

.dark .marca {
  background-color: var(--bg-header-dark);
  color: var(--fc-buttonsDark);
}

span {
  color: var(--bg-calcButtons);
}


/* Menu de Configurações Overlay */
.overlay-config {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: none;
  z-index: 999;
}

.overlay-config.active {
  display: block;
}


.config-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body.dark .config-panel {
  background: var(--bg-darkStandard);
  color: var(--bg-whiteStandard);
}

.logoMenu {
  width: 25px;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 12px;
  background: none;
  border: none;
  font-size: 30px;
  z-index: 60;
  cursor: pointer;
  transform-origin: top right;
}

.dark .close-x {
  color: var(--fc-buttonsDark);
}

.config-panel h2 {
  padding-top: 50px;
}

.config-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.config-menu li {
  list-style: none;
  margin-bottom: 10px;
}

.item-bg {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-color: var(--bg-header-standard);
  color: var(--fc-buttonsStandard);
  padding: 8px 12px;
  font-weight: 700;
  padding-left: 20px;
  cursor: pointer;
}

.dark .item-bg {
  background: var(--bg-menuStripesDark);
  color: var(--fc-buttonsDark);
}

.dark .config-menu li {
  background: var(--bg-menuStripesDark);
}

body.dark .config-menu li {
  border-color: #333;
}

.dark #zoomIn img {
  content: url("img/increaseZoomIcon_dark.png");
}

.dark #zoomOut img {
  content: url("img/decreaseZoomIcon_dark.png");
}

.dark #questionIcon img {
  content: url("img/questiontIcon_dark.png");
}

.dark #infoIcon img {
  content: url("img/infoIcon_dark.png");
}

.dark .item-bg img {
  content: url("img/Logo-dark.png");
}