* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.container-pai {
  width: 280px;
  height: 410px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid black;  
}

.cabecalho{
    background-color: #D9D9D9;
    padding: 6px 8px;
}

.cabecalho input,
.cabecalho textarea {
  width: 100%;
  padding: 6px 8px;
  font-size: 15px;
  border: none;
  background: #BABABA;
  resize: none;
}

.cabecalho input {
  margin: 10px 1px 8px 0px;
  height: 50px;
}

.cabecalho textarea {
  height: 35px;
}


.rowCalculations {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.rowCalculations button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #0099B8;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  margin-top: 10px;
  background-color: #D9D9D9;
  padding: 8px;
  margin: 15px 30px 0px 30px;
}

.numbers-grid button {
  height: 40px;
  border: none;
  background: #C2C2C2;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.numbers-grid .del {
  background: #D85F1A;
  font-weight: 700;
}

.numbers-grid .equal {
  background: #56B43D;
  font-weight: 700;
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
}

.rodape button {
  width: 44px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background: #D9D9D9;
}

.rodape img {
  width: 25px;
  margin-top: 3px;
}

.rodape .logo img{
    width: 35px;
}

.marca {
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  background-color: #C2C2C2;
}

span {
    color: #0099B8;
}
