:root{
  --bg-whiteStandard: #fff;
  --bg-header-standard: #D9D9D9;
  --bg-inputs-standard: #BABABA;
  --bg-calcButtons: #0099B8;
  --bg-numberStandard: #C2C2C2;
  --bg-deleteButton: #D85F1A;
  --bg-equalButton: #56B43D;
  --fc-buttonsStandard: #000;


  --bg-darkStandard: #424242;
  --bg-header-dark: #575656;
  --bg-inputs-dark: #222222;
  --bg-numbersDark: #9D9B9B;
  --fc-buttonsDark: #fff;
  --bg-footerButtons: #7A7A93;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.container-pai {
  width: 280px;
  height: 410px;
  background-color: var(--bg-whiteStandard);
  display: flex;
  flex-direction: column;  
}

.container-pai.dark{
  background-color: var(--bg-darkStandard);
}

.cabecalho{
    background-color: var(--bg-header-standard);
    padding: 6px 8px;
}

.cabecalho.dark{
  background-color: var(--bg-header-dark);
}

.cabecalho input,
.cabecalho textarea {
  width: 100%;
  padding: 6px 8px;
  font-size: 15px;
  border: none;
  background-color: var(--bg-inputs-standard);
  resize: none;
}

.cabecalho input.dark,
.cabecalho textarea.dark{
  background-color: var(--bg-inputs-dark);
}

.cabecalho input {
  margin: 10px 1px 8px 0px;
  height: 50px;
}

.cabecalho textarea {
  height: 35px;
}


.rowCalculations {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.rowCalculations button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-calcButtons);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  color: var(--fc-buttonsStandard);
}

.rowCalculations button.dark{
  color: var(--fc-buttonsDark);
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  margin-top: 10px;
  background-color: var(--bg-header-standard);
  padding: 8px;
  margin: 15px 30px 0px 30px;
}

.numbers-grid.dark{
  background-color: var(--bg-inputs-dark);
}

.numbers-grid button {
  height: 40px;
  border: none;
  background-color: var(--bg-numberStandard);
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  color: var(--fc-buttonsStandard);
}

.numbers-grid button.dark{
  background-color: var(--bg-numbersDark);
  color: var(--fc-buttonsDark);
}

.numbers-grid .del {
  background-color: var(--bg-deleteButton);
  font-weight: 700;
}

.numbers-grid .equal {
  background-color: var(--bg-equalButton);
  font-weight: 700;
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  padding: 0px 30px 0px 30px;
}

.rodape button {
  width: 44px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color: var(--bg-header-standard);
  cursor: pointer;
}

.rodape button.dark{
  background-color: var(--bg-footerButtons);
}

.rodape img {
  width: 25px;
  margin-top: 3px;
}

.rodape .logo img{
    width: 35px;
}

.dark .rodape .logo img{
  content: url("img/Logo-dark.png");
}

.dark #configIcon img {
  content: url("img/config_Icon_dark.png");
}

.dark #themeIcon img {
  content: url("img/theme_Icon_dark.png");
}

.marca {
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  background-color: var(--bg-numberStandard);
  color: var(--fc-buttonsStandard);
}

.marca.dark{
  background-color: var(--bg-header-dark);
  color: var(--fc-buttonsDark);
}

span {
    color: var(--bg-calcButtons);
}
